<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- root 日志级别：所有日志（含报错）都打印 -->
    <root level="ERROR">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>